<footer class="bg-[#EEEEEE] w-screen h-[60px] flex">
  <div class="flex justify-between w-5/6 max-w-[1400px] m-auto">
    <p class="my-auto">© 2024 Szkoła Overdrive</p>
    <div class="flex gap-x-[30px]">
      <ng-container *ngFor="let l of links">
        <a href="{{ l.link }}" class="h-fit w-fit my-auto">
          <img
            [src]="l.text"
            alt=""
            draggable="false"
            class="w-[25px] max-h-[28px] object-scale-down cursor-pointer"
          />
        </a>
      </ng-container>
    </div>
  </div>
</footer>
