<div class="bg-[#EEEEEE] w-screen h-[60px] flex">
  <div class="flex justify-between w-5/6 max-w-[1400px] m-auto">
    <p class="my-auto">© 2024 Szkoła Overdrive</p>
    <div class="flex gap-x-[20px]">
      <img
        src="assets/icons/place.svg"
        alt=""
        class="w-[35px]"
        draggable="false"
      />
      <img
        src="assets/icons/place.svg"
        alt=""
        class="w-[35px]"
        draggable="false"
      />
      <img
        src="assets/icons/place.svg"
        alt=""
        class="w-[35px]"
        draggable="false"
      />
    </div>
  </div>
</div>
