<div class="bg-[#EEEEEE] w-screen h-[60px] flex">
  <div class="flex justify-between w-5/6 max-w-[1400px] m-auto">
    <p class="my-auto">© 2024 Szkoła Overdrive</p>
    <div class="flex gap-x-[30px]">
      <a href="https://www.youtube.com/@halasrecords">
        <img
          src="assets/images/youtube.png"
          alt=""
          draggable="false"
          class="w-[25px] cursor-pointer"
        />
      </a>
      <a href="https://www.facebook.com/halasrecords">
        <img
          src="assets/images/fb.png"
          alt=""
          class="w-[25px] cursor-pointer"
          draggable="false"
        />
      </a>
      <a href="mailto:radekczyja@gmail.com">
        <img
          src="assets/images/mail.png"
          alt=""
          class="w-[25px] cursor-pointer"
          draggable="false"
      /></a>
    </div>
  </div>
</div>
