<div
  class="grid grid-cols-1 md:grid-cols-3 md:h-[150px] relative"
  *ngIf="data.length > 0"
>
  <h1
    class="left-[calc((100vw-min(83.33vw,1400px))/2)] absolute md:-translate-y-[40%] text-[35px] md:text-[40px] font-bold tracking-[2px] md:tracking-[4px]"
  >
    {{ header }}
  </h1>
  <div
    class="bg-[#EAE9EE] flex justify-center gap-x-[25px] mt-[30px] md:mt-0 pt-[40px] md:pt-[20px] py-[20px] md:py-0"
  >
    <img
      [src]="data[0].img"
      alt=""
      class="w-[40px] max-h-[45px] my-auto object-scale-down"
      draggable="false"
    />
    <div class="flex flex-col h-fit my-auto">
      <h1>{{ data[0].header }}</h1>
      <p>{{ data[0].desc }}</p>
    </div>
  </div>
  <div class="bg-[#ECE3DE] flex justify-center gap-x-[25px] py-[20px] md:py-0">
    <img
      [src]="data[1].img"
      alt=""
      class="w-[40px] max-h-[45px] my-auto object-scale-down"
      draggable="false"
    />
    <div class="flex flex-col h-fit my-auto">
      <h1>{{ data[1].header }}</h1>
      <p>{{ data[1].desc }}</p>
    </div>
  </div>
  <div class="bg-[#EAE9EE] flex justify-center gap-x-[25px] py-[20px] md:py-0">
    <img
      [src]="data[2].img"
      alt=""
      class="w-[40px] max-h-[45px] my-auto object-scale-down"
      draggable="false"
    />
    <div class="flex flex-col h-fit my-auto">
      <h1>{{ data[2].header }}</h1>
      <p>{{ data[2].desc }}</p>
    </div>
  </div>
</div>
<div>
  <iframe
    class="h-[25vw] min-h-[250px] max-h-[450px] w-screen object-cover"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    id="gmap_canvas"
    [src]="mapLink"
  ></iframe>
</div>
