<div class="grid grid-cols-1 md:grid-cols-3 md:h-[150px] relative">
  <h1
    class="left-[calc((100vw-min(83.33vw,1400px))/2)] absolute md:-translate-y-[40%] text-[40px] font-bold tracking-[4px]"
  >
    KONTAKT
  </h1>
  <div class="bg-[#EAE9EE] flex justify-center mt-[30px] md:mt-0 pt-[40px] md:pt-[20px] py-[20px] md:py-0">
    <img
      src="assets/icons/place.svg"
      alt=""
      class="w-[40px]"
      draggable="false"
    />
    <div class="flex flex-col h-fit my-auto">
      <h1>Sosnowiec</h1>
      <p>Tuwima 20/29 41-208</p>
    </div>
  </div>
  <div class="bg-[#ECE3DE] flex justify-center gap-x-[25px] py-[20px] md:py-0">
    <img
      src="assets/icons/mail.svg"
      alt=""
      class="w-[40px]"
      draggable="false"
    />
    <div class="flex flex-col h-fit my-auto">
      <h1>E-mail:</h1>
      <p>radekczyja&commat;gmail.com</p>
    </div>
  </div>
  <div class="bg-[#EAE9EE] flex justify-center gap-x-[25px] py-[20px] md:py-0">
    <img
      src="assets/icons/telephone.svg"
      alt=""
      class="w-[40px]"
      draggable="false"
    />
    <div class="flex flex-col h-fit my-auto">
      <h1>Telefon</h1>
      <p>502 488 878</p>
    </div>
  </div>
</div>
<div>
  <img
    src="assets/images/map.png"
    alt=""
    class="h-[15vw] min-h-[200px] w-screen object-cover"
    draggable="false"
  />
</div>
