<div class="grid grid-cols-1 lg:grid-cols-2 lg:grid-rows-2">
  <div class="bg-[#EAE9EE]">
    <div
      class="px-[calc((100vw-min(83.33vw,1400px))/2)] lg:pr-[50px] ml-auto h-full flex flex-col relative"
    >
      <h1
        class="text-[35px] md:text-[40px] font-bold -translate-y-[40%] tracking-[2px] md:tracking-[4px] absolute top-0"
      >
        {{ jamHeader }}
      </h1>
      <div
        class="text-[16px] text-[#242424] font-light text-justify flex flex-col justify-center gap-y-[25px] my-[40px] lg:my-auto"
      >
        <p *ngFor="let i of jamDesc">{{ i }}</p>
      </div>
    </div>
  </div>
  <div class="aspect-video lg:aspect-auto">
    <iframe class="w-full h-full" [src]="jamLink" allowfullscreen> </iframe>
  </div>
  <div class="aspect-video lg:aspect-auto order-4 lg:order-3">
    <iframe class="w-full h-full" [src]="ytLink" allowfullscreen> </iframe>
  </div>
  <div class="bg-[#ECE3DE] order-3 lg:order-4">
    <div
      class="px-[calc((100vw-min(83.33vw,1400px))/2)] lg:pl-[50px] my-[20px]"
    >
      <h1
        class="text-[35px] md:text-[40px] font-bold tracking-[2px] md:tracking-[4px] mb-[20px]"
      >
        {{ ytHeader }}
      </h1>
      <div
        class="text-[16px] text-[#242424] font-light text-justify flex flex-col justify-between gap-y-[25px]"
      >
        <p *ngFor="let i of ytDesc">{{ i }}</p>
        <a href="{{ buttonLink }}" class="ml-auto" target="_blank">
          <button
            class="border-[#696C84] border-[1px] text-[#696C84] px-8 py-3 text-[16px] hover:bg-[#696C84] hover:text-[#f3f3f3]"
          >
            {{ buttonText }}
          </button></a
        >
      </div>
    </div>
  </div>
</div>
