<div class="flex flex-col gap-y-[50px] md:gap-y-[100px]">
  <app-main
    [header]="helloHeader"
    [headerSpan]="helloTextColor"
    [desc]="helloText"
    [img]="helloSrc"
    [selectedSrc]="helloFirst"
  />
  <app-info
    id="about"
    [header]="aboutHeader"
    [vSrc]="aboutLink"
    [info]="aboutDesc"
    class="max-w-[1400px] w-5/6 m-auto"
  />
  <app-gallery [images]="galleryImg" class="max-w-[1400px] w-5/6 m-auto" />
  <app-info
    [header]="lessonHeader"
    [vSrc]="lessonLink"
    [info]="lessonDesc"
    class="max-w-[1400px] w-5/6 m-auto"
    [videoFirst]="true"
  >
    <a [href]="lessonButtonLink" class="ml-auto">
      <button
        class="border-[#AA8C71] border-[1px] text-[#AA8C71] px-8 py-3 text-[16px] hover:bg-[#AA8C71] hover:text-[#f3f3f3]"
      >
        {{ lessonButtonText }}
      </button>
    </a>
  </app-info>
  <app-jam-and-yt
    [jamHeader]="jamHeader"
    [jamDesc]="jamDesc"
    [jamSrc]="jamLink"
    [ytHeader]="ytHeader"
    [ytDesc]="ytDesc"
    [ytSrc]="ytLink"
    [buttonText]="ytButtonText"
    [buttonLink]="ytButtonLink"
  />
  <app-contact
    id="contact"
    [header]="mapHeader"
    [data]="mapData"
    [mapSrc]="mapSrc"
  />
</div>
