<div class="w-5/6 max-w-[1400px] my-[50px] mx-auto">
  <div class="max-w-[400px]">
    <app-title [header]="header" />
  </div>
  <div
    class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 mt-[35px] gap-[10px]"
  >
    <div
      *ngFor="let s of images"
      class="aspect-square w-full cursor-pointer opacity-80 hover:opacity-100 relative"
      (click)="showImg(s)"
    >
      <img
        src="{{ s }}"
        alt=""
        draggable="false"
        class="min-w-full min-h-full object-cover hover:min-h-[calc(100%+20px)] hover:min-w-[calc(100%+20px)] a-center z-30"
      />
    </div>
  </div>
</div>
<div
  class="fixed left-0 top-0 w-full h-screen z-[200] flex !transition-none"
  *ngIf="currentSrc != ''"
>
  <img
    src="{{ currentSrc }}"
    alt=""
    draggable="false"
    class="block w-4/5 h-auto max-h-[80vh] object-cover m-auto"
  />
  <div
    class="bg absolute bg-[#00000060] w-screen h-screen -z-10 !transition-none"
    (click)="hideImg()"
  ></div>
</div>
