<div class="grid grid-cols-4 grid-rows-2 m-auto aspect-[2] gap-[12px]">
  <img
    src="assets/images/img1.jpg"
    alt=""
    class="row-span-2 h-full object-cover"
    draggable="false"
  />
  <img src="assets/images/img2.jpg" alt="" class="h-full" draggable="false" />
  <img
    src="assets/images/img3.jpg"
    alt=""
    class="col-span-2 w-full h-full"
    draggable="false"
  />
  <img src="assets/images/img4.jpg" alt="" class="h-full" draggable="false" />
  <img src="assets/images/img5.jpg" alt="" class="h-full" draggable="false" />
  <img src="assets/images/img1.jpg" alt="" class="h-full" draggable="false" />
</div>
