<div class="grid grid-cols-3 md:grid-cols-4 grid-rows-3 md:grid-rows-2 m-auto aspect-square md:aspect-[2] gap-[5px] md:gap-[12px] content">
  <img src="assets/images/img1.jpg" alt="" class="row-span-2 h-full" draggable="false"
    (click)="showImg('assets/images/img1.jpg')" />
  <img src="assets/images/img2.jpg" alt="" class="h-full" draggable="false"
    (click)="showImg('assets/images/img2.jpg')" />
  <img src="assets/images/img3.jpg" alt="" class="md:col-span-2 w-full h-full" draggable="false"
    (click)="showImg('assets/images/img3.jpg')" />
  <img src="assets/images/img4.jpg" alt="" class="h-full" draggable="false"
    (click)="showImg('assets/images/img4.jpg')" />
  <img src="assets/images/img5.jpg" alt="" class="h-full" draggable="false"
    (click)="showImg('assets/images/img5.jpg')" />
  <img src="assets/images/img1.jpg" alt="" class="h-full col-span-3 md:col-span-1" draggable="false"
    (click)="showImg('assets/images/img1.jpg')" />
</div>
<div class="fixed left-0 top-0 w-full h-screen z-[200] flex !transition-none" *ngIf="currentSrc != ''">
  <img src="{{ currentSrc }}" alt="" draggable="false" class="block w-4/5 h-auto max-h-[80vh] object-cover m-auto" />
  <div class="bg absolute bg-[#00000060] w-screen h-screen -z-10 !transition-none" (click)="hideImg()"></div>
</div>
